<%- include("partials/header")-%>
<h1>Delete by Id</h1>
<form action="/deleteById" method="post">
    <div class="form-group">
        <label class="form-label">Title</label>
        <input class="form-control" type="text" name="title">
    </div>
    <button class="btn btn-primary" type="submit" name="submit" >find</button>
</form><%- include("partials/footer")-%>